canvas {
  position: fixed;
  left: 0;
  top: 0;
}
main {
  width: 100vw;
  position: absolute;
  color: #fff;
  z-index: 99;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  background: rgba(0, 0, 0, 0.76);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: 12px;
}

section {
  grid-column: 2/8;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.76);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: 12px;
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: 12px;
}

h1,
h2,
h3,
h4,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}
